*.gradle
gradle/
build/
.idea
gradlew
gradlew.bat
local.properties
import-summary.txt

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
